.min{
    height: 350px;
    width: 500px;
    display: flex;
}
.home1{
    height: 500px;
    width: 700px;
}
.third{
    height: 250px;
    background-color: rgb(199, 199, 230);
    padding: 50px 0px 30px 160px;
    display: flex;

}

.hotel{
    margin-left: 70px;
    margin-top: 30px;
}

.hotel-img{
    transition: 2s;
    border-radius: 10px;
}

.hotel-img:hover{
        transform: scale(1.1);
        border: 1px solid rgb(150, 83, 83);
        border-radius: 10px;
        box-shadow: 0px 0px 8px 2px ;

}
.third{
    height: 250px;
    background-color: rgb(199, 199, 230);
    padding: 50px 0px 30px 160px;
    display: flex;

}

.hotel{
    margin-left: 70px;
    margin-top: 30px;
}

.hotel-img{
    transition: 2s;
    border-radius: 10px;
}

.hotel-img:hover{
        transform: scale(1.1);
        border: 1px solid rgb(150, 83, 83);
        border-radius: 10px;
        box-shadow: 0px 0px 8px 2px ;

}
.hed{
    height: 100px;
    width: 100px;
     display: flex;
     border: 1px ;
     justify-content: space-around;
   
}
.card-img-top{
    border-radius: 50%;
}
.vv{
    display: flex;
    justify-content: space-around;
}
.hotel-img{
    height: 300px;
    width: 200px;
    border-radius: 50%;
}
