.img {
    width: 200px;

  }
  
  .home:hover {
    height: 40px;
    width: 105px;
    border: 2px solid;
    border-radius: 10px;
    background-color:pink;

    box-shadow: 2px 0px 2px 0px;
    transform: scale(0.9);
    transition: 2s;
    text-align: center;
  }

  .first-paragraph{
    margin-top: 130px;
    margin-left: 40px;
  }

.eng{
    text-decoration: none;
    border: 2px solid gray;
    color: black;
    margin: 0px 30px 0px 10px;
    padding: 10px;
    transition: 2s;
}

.eng:hover{
    background-color: gray;
    color: white;
    border-radius: 10px;
    transform: scale(1.1);
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.mainid{
    border-radius: 1px;
    transition: 2s;
    
}

.mainid:hover{
    border: 2px solid rgb(143, 24, 24);
    transform: scale(1.1);
    box-shadow: 3px 3px 0px 0px rgb(143, 24, 24);
}

.imgs{
    height: 250px;
}

.last-card{
   margin-left: 40%;
}

.ssc{
    margin-left: 48%;
}

.hsc{
    margin-left: 34%
}

.std{
    margin-left: 42%;
}

.gap{
    margin-left: 32%;
}

.cert{
    margin-left: 27%;
}

.pass{
    margin-left: 35%;
}
