.main{
    border-radius: 1px;
    transition: 2s;
    
}

.main:hover{
    background-color: rgb(247, 226, 209);
    border: 2px solid rgb(230, 170, 170);
    transform: scale(1.1);
    box-shadow: 0px 0px 1px 2px rgb(219, 194, 194);
}

.one{
    color: purple;
}